.auth {
    background: #fae0e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 50px;

    &__title {
        font-size: 20px;
    }

    &__images {
        display: flex;
        gap: 10px;

        &_img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}
