<div class="dish">
    <ng-container *ngIf="!isLoader || !id">
        <input class="dish__input" type="text" [(ngModel)]="name" placeholder="Название">
        
        <input class="dish__input" type="text" [(ngModel)]="place" placeholder="Место">

        <mat-form-field appearance="fill">
            <mat-label>Дата</mat-label>
            <input 
                matInput 
                [matDatepicker]="picker" 
                placeholder="дд.мм.гггг" 
                [(ngModel)]="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="dish__rating">
            <button 
                class="dish__rating_btn" 
                *ngFor="let btn of [].constructor(10); let i = index"
                (click)="selectRating(i + 1)"
                [class.dish__rating_selected_bv]="b_rating === v_rating && b_rating === i + 1"
                [class.dish__rating_selected_b]="b_rating !== v_rating && b_rating === i + 1 && user === 'Богдан'"
                [class.dish__rating_selected_v]="b_rating !== v_rating && v_rating === i + 1 && user === 'Виктория'">
                {{i + 1}}
            </button>
        </div>
        
        <button class="dish__btn" *ngIf="!id" (click)="createDish()">Добавить блюдо</button>
        
        <button class="dish__btn" *ngIf="id" (click)="updateDish()">Изменить блюдо</button>
        
        <button class="dish__btn" *ngIf="id" (click)="deleteDish()">Удалить блюдо</button>
    
        <p class="dish__error">{{ errorMessage }}</p>

        <ng-container *ngFor="let audio of audioList">
            <audio #audioRef [id]="audio.id" [src]="audio.src"></audio>
        </ng-container>
    </ng-container>

    <div class="loader-container" *ngIf="isLoader">
        <mat-spinner diameter="40" color="warn"></mat-spinner>
    </div>
</div>

<button class="back" routerLink="">Назад</button>
