.container {
    background: #fae0e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 70px 20px;
}

input {
    padding: 10px;
    display: block;
    width: 100%;
    border: 1px solid #FF477E;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

.btn {
    padding: 10px;
    width: 100%;
    border: 1px solid #FF477E;
    border-radius: 5px;
    background: #FF477E;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
}

.error {
    font-size: 14px;
    color: red;
}

.back {
    position: fixed;
    left: 20px;
    top: 20px;

    padding: 5px;
    border: 1px solid #FF477E;
    border-radius: 5px;
    background: #FF477E;
    box-sizing: border-box;
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2px;
}

.rating {
    width: 100%;
    aspect-ratio: 1 / 1;
    font-size: 16px;
    background: none;
    border: 1px solid #FF477E;
    border-radius: 5px;
}

.selected {
    background: #FF477E;
    color: #fff;

    &_b {
        background: #a2d2ff;
        color: #fff;
    }

    &_v {
        background: #FF477E;
        color: #fff;
    }

    &_bv {
        background: linear-gradient(135deg, #a2d2ff, #FF85A1);
        color: #fff;
    }
}
